{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PC Build CUSTOM GAMER DESKTOPS</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'app/assets/img/favicon.ico' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Menu del Navegador -->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">PC Build Store</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.html">Inicio</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Sobre PC Build</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="cotizar.html">Cotiza con nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="modelos.html">Modelos a elegir</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="cuenta.html">Login</a></li>        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ENCABEZADO-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- ENCABEZADO LOGO PC BUILD-->
               
                <img class="masthead-avatar mb-5" src="{% static 'app/assets/img/pclogo.png' %}" alt="" />
                <!-- TOPE DEL ENCABEZADO ACA VA EL TITULO DEL INDEX LO QUE SALE DEBAJO DEL LOGO-->
                <h1 class="masthead-heading text-uppercase mb-0">PC BUILD </h1>
                <!-- ESTE DIVISOR CON LA ESTRELLITA LO APORTO LA PLANTILLA BOOTSTRAP-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- SUBENCABEZADO BAJO EL DIVISOR DE LA PLANTILLA -->
                <p class="masthead-subheading font-weight-light mb-0">Potencia - Estilo - Precio</p>
            </div>
        </header>
       
        <!-- SECCION SOBRE PC BUILD-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- HEADING DE LA SECCION -->
                <h2 class="page-section-heading text-center text-uppercase text-white">Sobre PC Build Store</h2>
                <!-- DIVISOR APORTADO POR BOOTSTRAP-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- CONTENIDO DE LA SECCION -->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">PC Build Store es una tienda completamente dedicada a la creación de equipos personalizados para alto rendimiento gamer a precios variados.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Todos nuestros técnicos son especialistas en hardware y cumplen con los mas altos estandares de armado y testing en los setups</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.facebook.com/681269391/videos/10160089210764392/?extid=v7pGDHjcfL4hR48Q">
                        <i class="fas fa-download mr-2"></i>
                        Click Aqui para Ver como arman los equipos!
                    </a>
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
               
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Ubicación</h4>
                        <p class="lead mb-0">
                            Alcalde Subercaseux 1611
                            <br />
                            Actualmente Reinaldo Knop , Valparaiso , Quilpue.
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">proximamente en redes SoCiaLeS</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Matias Lagos - Francisco Gómez  2020</small></div>
        </div>
        <!-- Funcion boton para subir al inicio ( este es solo visible en pantallas pequeñas como telefonos o tablets pequeñas y dado que la funcion de colapsar o expandir el nav menu se pierde en pantallas pequeñas)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="{% static 'app/assets/mail/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'app/assets/mail/contact_me.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'app/js/scripts.js' %}"></script>
    </body>
</html>